<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.servlet.AddEmployeeServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DisplayEmployeeServlet</servlet-name>
    <servlet-class>com.servlet.DisplayEmployeeServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DisplayEmployeeServlet</servlet-name>
    <url-pattern>/DisplayEmployeeServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.servlet.UpdateEmployeeServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.servlet.DeleteEmployeeServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ReportCriteriaServlet</servlet-name>
    <servlet-class>com.servlet.ReportCriteriaServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ReportCriteriaServlet</servlet-name>
    <url-pattern>/ReportCriteriaServlet</url-pattern>
</servlet-mapping>

</web-app>